#title {
	width: 100%;
	text-align: center;
}
.generator {
	width: 30%;
	float: left;
	margin-left: 1%;
}
#synth {
	margin-right: 2%;
	margin-left: 2%;
}
#filters {
	clear: both;
}
#keybox {width:910px; min-width: 858px; text-align: center; margin: 0 auto 30px auto;}
#blackkeys { position: absolute; z-index: 2; padding-left: 10px; margin-left: 41px;}
.key { display:inline-block; }
.black { background: black; width: 40px; height: 150px; margin: 0px 11px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; }
.spacer { display:inline-block; width: 62px; height: 150px; margin: }
.white { background: white; width: 60px; height: 250px; border: 1px solid black; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; }
.pressed { background: gray }
.clearboth {
	clear: both;
}